<div class="container">
  <div class="form-row">
    <label>User:</label>
    <input type="text" #user />
  </div>

  <div class="form-row">
    <label>Password:</label>
    <input type="password" #password />
  </div>

  <button class="btn blue" (click)="login(user.value, password.value)">Login</button>
  <button (click)="ping()" class="btn">Ping</button>

</div>