.form-row {
  margin-bottom: 12px;
}

.form-row label {
  display: block;
  margin-bottom: 5px;
  border-radius: 4px;
}
.form-row input {
  display: block;
  border: solid 1px gray;
  border-radius: 4px;
  padding: 6px 8px;
}