nav {
  margin-bottom: 10px;
  border-bottom: solid 1px darkgray;
}

nav a {
  padding: 6px 12px;
  border-right: solid 1px darkgray;
  display: inline-block;
  text-decoration: none;
  color: #6a6a6a;
  font-size: 20px;
  transition-duration: 0.15s;
}
nav a:hover {
  color: #000
}
nav a.active {
  background: #e5e5e5;
}