<nav>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a *ngIf="authenticated$ | async" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
</nav>

<router-outlet></router-outlet>