body {
  margin: 0;
  font-size: 17px;
  font-family: -webkit-pictograph, sans-serif;
}

.container {
  margin: 15px;
}

.btn {
  border: solid 3px darkgray;
  padding: 7px 22px;
  color: #4e4e4e;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
  background: #fff;
  border-radius: 4px;
}
.btn:nth-last-child(1) {
  margin-right: 0px;
}
.btn:hover {
  color: #000;
}

.btn.blue {
  border-color:#1b73c4;
}
.btn.blue:hover {
  color: #0d4172;
}